<div class="ui batch modal">
	<div class="header">Manage Batch</div>
	<div class="content">
		<form class="ui form">
			<div class="fields">
				<div class="three wide field">
					<input type="text" ng-model="selectedBatch.code" placeholder="Code">
				</div>
				<div class="seven wide required field">
					<input type="text" ng-model="selectedBatch.label" placeholder="Name">
				</div>
				<div class="three wide field">
					<input type="number" ng-model="selectedBatch.year" placeholder="Year">
				</div>
				<div class="three wide field">
					<div class="ui toggle checkbox">
						<input type="checkbox" name="public" ng-model="selectedBatch.active">
						<label>{{selectedBatch.active?'Active':'Deactivated'}}</label>
					</div>
				</div>
			</div>
			<div class="fields">
				<div class="ten wide field">
					<label>Selected Students</label>
					<div class="ui raised segment">
						<span ng-repeat="student in batchedStudents" class="ui label">{{student.roll+' '+student.name}}<a ng-click="disjoin(student.id)"><i class="delete icon"></i></a></span>
					</div>
				</div>
				<div class="five wide field">
					<label>Select Student</label>
					<select class="ui dropdown" ng-options="student as student.name for student in students" ng-model="selectedStudent"></select>
				</div>
				<div class="one wide field">
					<label>&nbsp;</label>
					<button class="ui icon button" ng-click="join()"><i class="add icon"></i></button>
				</div>
			</div>
			<div class="fields">
				<div class="sixteen wide field">
					<div class="ui right floated buttons">
					  <button class="ui labeled icon button" ng-click="hide()"><i class="close icon"></i>Cancel</button>
					  <div class="or"></div>
					  <button class="ui right labeled icon positive button" ng-click="upsert()"><i class="save icon"></i>{{updated?'Update':'Add'}}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<table class="ui orange table">
	<tr>
		<th>Code</th><th>Label</th><th>Year</th><th>Status</th><th>Students</th>
		<th>Options <a ng-click="show()"><i class="add icon"></i></a> <a ng-click="upload()"><i class="upload icon"></i></a></th>
	</tr>
	<tr ng-repeat="batch in batches">
		<td>{{batch.code}}</td>
		<td>{{batch.label}}</td>
		<td>{{batch.year}}</td>
		<td>{{batch.active?'Active':'Deactivated'}}</td>
		<td>{{batch.students.length}}</td>
		<td>
			<a ng-click="edit(batch)" style="cursor:pointer" title="Edit"><i class="edit icon"></i></a>
			<a ng-click="remove(batch)" style="cursor:pointer" title="Remove"><i class="remove icon"></i></a>
		</td>
	</tr>
</table>