<h1 class="ui header">Welcome to edugad.org!</h1>

<div class="ui centered cards">
	<div class="card">
		<div class="content">
			<div class="header">edugad.org</div>
			<div class="meta">Educational Gadgets.</div>
			<div class="description">Problems Minified. Solutions Amplified.</div>
		</div>
	</div>
	<div class="card">
		<div class="content">
			<div class="header">EduGad University</div>
			<div class="meta">Teaching Simplified.</div>
			<div class="description">Privileged client of edugad.org!</div>
		</div>
	</div>
</div>